@charset "UTF-8";
/* Made by Masstige */
.product-depth3 {
  border-bottom: 1px solid #eee;
  background: #fff;
}
.product-depth3.fix .product-depth3-wrap {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 102;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: margin 300ms;
}
.product-depth3-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-depth3__item {
  flex: 0 1 auto;
  margin: 0 2.5rem;
  position: relative;
}
.product-depth3__item::before {
  content: "•";
  font-family: "MavenPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  color: #d0d0d0;
  font-weight: 500;
  position: absolute;
  left: -2.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-depth3__item:first-child::before {
  display: none;
}
.product-depth3 .link {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #222;
  height: 4.0625rem;
  display: flex;
  align-items: center;
}
.product-depth3 .link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background: #005baa;
  transition: height 0.3s;
}
.product-depth3 .link.on {
  color: #005baa;
}
.product-depth3 .link.on::after {
  height: 3px;
}
@media screen and (min-width: 1024.02px) {
  .product-depth3 .link:hover {
    color: #005baa;
  }
  .product-depth3 .link:hover::after {
    height: 3px;
  }
}
@media screen and (max-width: 1024px) {
  .product-depth3-wrap {
    display: block;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .product-depth3__item {
    flex: none;
    display: inline-block;
    margin: 0 1.25rem;
  }
  .product-depth3__item::before {
    left: -1.25rem;
  }
  .product-depth3 .link {
    font-size: 1rem;
  }
}

.product-intro {
  display: flex;
  flex-wrap: wrap;
}
.product-intro__img {
  flex: 0 0 35.7142857143%;
  max-width: 35.7142857143%;
  display: block;
  position: relative;
  overflow: hidden;
}
.product-intro__img::after {
  content: "";
  display: block;
  padding-bottom: 72%;
}
.product-intro__img > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.product-intro__text {
  flex: 1 1 auto;
  width: 1%;
  padding-right: 5vw;
}
.product-intro__text .product-title {
  font-size: 5em;
  color: #111;
  line-height: 1;
}
.product-intro__text .product-title--en {
  font-size: 1.4375em;
  font-weight: 500;
  color: #005baa;
  letter-spacing: -0.03em;
}
.product-intro__text .product-description {
  color: #777;
  font-size: 1.0625em;
}
@media screen and (max-width: 1200px) {
  .product-intro__text .product-title {
    font-size: 4.375em;
  }
}
@media screen and (max-width: 1024px) {
  .product-intro__text .product-title {
    font-size: 3.75em;
  }
  .product-intro__text .product-title--en {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 768px) {
  .product-intro__img {
    display: none;
  }
  .product-intro__text {
    flex: 1 0 100%;
    width: auto;
    max-width: 100%;
    padding: 0;
  }
  .product-intro__text .product-title {
    font-size: 2.5em;
  }
  .product-intro__text .product-title--en {
    font-size: 1.0625em;
  }
}

.category-text {
  line-height: 1.3;
}

.product-tab {
  border-top: 1px solid #111;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0 9.0625rem;
}
.product-tab .swiper-slide {
  text-align: center;
  width: auto;
  padding: 0 1.625rem;
  height: 5.8125rem;
  display: flex;
  align-items: center;
}
.product-tab .swiper-slide .item {
  font-size: 1.1875em;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "MavenPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  cursor: pointer;
}
.product-tab .swiper-slide.active .item {
  color: #005baa;
  position: relative;
}
.product-tab .swiper-slide.active .item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  border-bottom: 1px solid #005baa;
}
.product-tab .swiper-slide + .swiper-slide::before {
  content: "•";
  font-family: "MavenPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  color: #d0d0d0;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-tab .swiper-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9.0625rem;
  text-align: center;
  color: #aaa;
  background-repeat: no-repeat;
  background-size: 3.125em;
  background-position: center;
  transition: transform 0.3s;
}
.product-tab .swiper-button--prev {
  left: 0;
  background-image: url(../images/icon/long_arrow_left_black.png);
}
@media screen and (min-width: 1024.02px) {
  .product-tab .swiper-button--prev:not(.swiper-button-disabled):hover {
    transform: translateX(-0.625rem);
  }
}
.product-tab .swiper-button--next {
  right: 0;
  background-image: url(../images/icon/long_arrow_right_black.png);
}
@media screen and (min-width: 1024.02px) {
  .product-tab .swiper-button--next:not(.swiper-button-disabled):hover {
    transform: translateX(0.625rem);
  }
}
.product-tab .swiper-button.swiper-button-disabled {
  opacity: 0.2;
}
@media screen and (max-width: 1024px) {
  .product-tab {
    padding: 0 5.625rem;
  }
  .product-tab .swiper-button {
    width: 5.625rem;
    background-size: 2.5em;
  }
}
@media screen and (max-width: 768px) {
  .product-tab {
    padding: 0 4.375rem;
  }
  .product-tab .swiper-button {
    width: 4.375rem;
    background-size: 1.875em;
  }
  .product-tab .swiper-slide {
    padding: 0 1.25rem;
    height: 4.6875rem;
  }
  .product-tab .swiper-slide .item {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 576px) {
  .product-tab {
    padding: 0 5px;
  }
  .product-tab .swiper-button {
    display: none !important;
  }
}

.product-detail-wrap .product-detail.show {
  display: block;
  visibility: visible;
  height: auto;
}
.product-detail-wrap .product-detail-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.product-detail-wrap .product-detail__img {
  flex: 0 0 40.7142857143%;
  max-width: 40.7142857143%;
  display: block;
  position: relative;
  overflow: hidden;
}
.product-detail-wrap .product-detail__img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.product-detail-wrap .product-detail__img > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.product-detail-wrap .product-detail__info {
  flex: 1 1 auto;
  width: 1%;
  padding-left: 5vw;
}
.product-detail-wrap .product-detail__title {
  font-size: 3.125em;
  font-family: "MavenPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.3;
}
.product-detail-wrap .product-detail__description {
  padding-top: 2.5rem;
  margin-top: 1.875rem;
  border-top: 1px solid #ddd;
}
.product-detail-wrap .product-detail__description .bullet-list--txt .item::before {
  font-weight: 700;
}
.product-detail-wrap .product-detail .download-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -6px;
}
.product-detail-wrap .product-detail .download-btn-wrap .download-btn {
  flex: 0 1 auto;
  margin: 4px 0;
  margin-right: 6px;
}
@media screen and (max-width: 1200px) {
  .product-detail-wrap .product-detail__img {
    flex: 0 0 35%;
    max-width: 35%;
  }
  .product-detail-wrap .product-detail__info {
    padding-left: 1.875em;
  }
  .product-detail-wrap .product-detail__title {
    font-size: 2.625em;
  }
  .product-detail-wrap .product-detail__description {
    padding-top: 1.875rem;
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 1024px) {
  .product-detail-wrap .product-detail-box {
    display: block;
  }
  .product-detail-wrap .product-detail__img {
    flex: none;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-detail-wrap .product-detail__info {
    flex: none;
    width: auto;
    padding: 2.5em 0 0;
  }
}
@media screen and (max-width: 375px) {
  .product-detail-wrap .product-detail .download-btn-wrap {
    margin-right: 0;
  }
  .product-detail-wrap .product-detail .download-btn-wrap .download-btn {
    flex: 1 0 100%;
    max-width: 100%;
    margin: 4px 0 !important;
  }
}

.person-in-charge {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -5rem 0;
}
.person-in-charge__box {
  flex: 1 0 50%;
  max-width: 50%;
  padding: 0 5rem 5rem 0;
}
.person-in-charge .inner {
  background-color: #fff;
  box-shadow: 12px 17px 30px rgba(0, 0, 0, 0.11);
  padding: 2.8125em;
  font-size: 0.9375rem;
  position: relative;
}
.person-in-charge .inner * {
  position: relative;
  z-index: 1;
}
.person-in-charge .inner::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 13.375rem;
  height: 13.4375rem;
  background: url(../images/business/person_in_charge_symbol.png) no-repeat center;
  background-size: contain;
  opacity: 0.06;
}
.person-in-charge .inner .line {
  position: absolute;
  z-index: 2;
  background: #94b1ca;
}
.person-in-charge .inner .line--t {
  top: 0;
  left: 0;
}
.person-in-charge .inner .line--r {
  top: 0;
  right: 0;
}
.person-in-charge .inner .line--b {
  bottom: 0;
  right: 0;
}
.person-in-charge .inner .line--l {
  bottom: 0;
  left: 0;
}
.person-in-charge .inner .line--t, .person-in-charge .inner .line--b {
  transition: width 300ms;
  width: 0;
  height: 1px;
}
.person-in-charge .inner .line--r, .person-in-charge .inner .line--l {
  transition: height 300ms;
  width: 1px;
  height: 0;
}
.person-in-charge .inner .name {
  font-size: 1.5rem;
  position: relative;
}
.person-in-charge .inner .name::before {
  content: "";
  display: block;
  width: 1.75rem;
  height: 3px;
  background: #005baa;
  margin-bottom: 0.9375rem;
}
.person-in-charge .inner .department {
  color: #005baa;
  font-size: 1.0625rem;
  font-weight: 500;
}
.person-in-charge .inner .mail-icon img {
  display: block;
  width: 1.125rem;
}
.person-in-charge .inner:hover .line--t, .person-in-charge .inner:hover .line--b {
  width: 100%;
}
.person-in-charge .inner:hover .line--r, .person-in-charge .inner:hover .line--l {
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .person-in-charge {
    margin: 0 0 -3.125rem 0;
  }
  .person-in-charge__box {
    padding: 0 3.125rem 3.125rem 0;
  }
}
@media screen and (max-width: 1024px) {
  .person-in-charge {
    margin: 0 -1.5625rem -1.5625rem 0;
  }
  .person-in-charge__box {
    padding: 0 1.5625rem 1.5625rem 0;
  }
  .person-in-charge .inner {
    box-shadow: none;
    padding: 1.875em;
  }
  .person-in-charge .inner::before {
    width: 11.25rem;
    height: 11.3125rem;
  }
}
@media screen and (max-width: 576px) {
  .person-in-charge__box {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .person-in-charge .inner::before {
    width: 9.375rem;
    height: 9.4375rem;
  }
}
/*# sourceMappingURL=business.css.map */