@charset "UTF-8";
/* Made by Masstige */
.table-desc {
  font-size: 1.25rem;
  color: #111;
}

.border-left-e {
  border-left: 1px solid #ddd !important;
}

.divide-text {
  font-size: 1.75rem;
  color: #111;
}

.esg .download-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fafafa;
  padding: 1.25rem;
}
.esg .download-wrap .icon-box {
  flex: 0 0 6.25rem;
  max-width: 6.25rem;
  overflow: hidden;
  border-radius: 50%;
}
.esg .download-wrap .icon-box > img {
  width: 100%;
}
.esg .download-wrap .title-box {
  flex: 1 1 auto;
  width: 1%;
  padding: 0 1.25rem;
}
.esg .download-wrap .button-box {
  flex: 0 1 auto;
}
@media screen and (max-width: 1200px) {
  .esg .download-wrap .icon-box {
    flex: 0 0 5rem;
    max-width: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .esg .download-wrap .icon-box {
    display: none;
  }
  .esg .download-wrap .title-box {
    padding-left: 0;
  }
}
.esg .performance-item .border-top {
  border-top-width: 2px !important;
}
.esg .performance-item .icon {
  width: 6.9375em;
}
@media screen and (max-width: 576px) {
  .esg .performance-item .icon {
    width: 5.625em;
  }
}
.esg .esg-wrap {
  max-width: 1028px;
  margin-left: auto;
  margin-right: auto;
}
.esg .esg-wrap .esg-box {
  position: relative;
  color: #fff;
  border-radius: 0.9375rem;
}
.esg .esg-wrap .esg-box::before {
  font-size: 7.5em;
  color: rgba(255, 255, 255, 0.15);
  line-height: 1;
  position: absolute;
  right: 1.5625rem;
  bottom: 0.625rem;
  font-family: "MavenPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
.esg .esg-wrap .esg-box--c1 {
  background: #77bc1f;
}
.esg .esg-wrap .esg-box--c1::before {
  content: "E";
}
.esg .esg-wrap .esg-box--c2 {
  background: #00bcb4;
}
.esg .esg-wrap .esg-box--c2::before {
  content: "S";
}
.esg .esg-wrap .esg-box--c3 {
  background: #009bde;
}
.esg .esg-wrap .esg-box--c3::before {
  content: "G";
}

.esg-new .bullet-list--txt .item::before {
  font-weight: inherit;
}
.esg-new .section--bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1024.02px) {
  .esg-new .section--bg.fixed {
    background-attachment: fixed;
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  }
}
.esg-new .section--bg .sky {
  color: #9bd8ff;
}
.esg-new .esg-intro .box {
  text-align: center;
  padding: 2.5rem 1.875rem 1.875rem;
}
.esg-new .esg-intro .box--color1 {
  background-color: #f6fbf3;
}
.esg-new .esg-intro .box--color1 .point-color {
  color: #018b01;
}
.esg-new .esg-intro .box--color1 .point-bg {
  background-color: #58ae24;
}
.esg-new .esg-intro .box--color2 {
  background-color: #f3f7fb;
}
.esg-new .esg-intro .box--color2 .point-color {
  color: #005baa;
}
.esg-new .esg-intro .box--color2 .point-bg {
  background-color: #2981cf;
}
.esg-new .esg-intro .box--color3 {
  background-color: #fffaf5;
}
.esg-new .esg-intro .box--color3 .point-color {
  color: #ff9000;
}
.esg-new .esg-intro .box--color3 .point-bg {
  background-color: #ff9c00;
}
.esg-new .esg-intro .icon img {
  width: 8.75rem;
}
.esg-new .esg-intro .title {
  font-size: 1.875em;
  letter-spacing: -0.03em;
  line-height: 1.3;
}
.esg-new .esg-intro .title .large {
  font-size: 1.2em;
}
.esg-new .esg-intro .text-list__item {
  border-radius: 0.625rem;
  overflow: hidden;
  background: #fff;
  font-size: 1.125em;
  letter-spacing: -0.05em;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.3;
}
.esg-new .esg-intro .text-list__item + .text-list__item {
  margin-top: 0.75rem;
}
.esg-new .esg-intro .text-list__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 7.5rem;
  max-width: 7.5rem;
  color: #fff;
  padding: 0 0.3125rem;
}
.esg-new .esg-intro .text-list__cont {
  flex: 1 1 auto;
  width: 1%;
  padding: 0.625rem 0.625rem;
  font-weight: 300;
  color: #666;
}
.esg-new .esg-intro .text-list__cont .item {
  margin: 2px 0;
}
.esg-new .esg-intro .text-list__cont .item::before {
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  .esg-new .esg-intro .text-list__item {
    font-size: 1.0625em;
  }
  .esg-new .esg-intro .text-list__title {
    flex: 0 0 5.625rem;
    max-width: 5.625rem;
  }
}
.esg-new .performance-item {
  line-height: 1.3;
}
.esg-new .performance-item .border-top {
  border-top-width: 2px !important;
}
.esg-new .performance-item .icon {
  width: 6.875em;
}
@media screen and (max-width: 576px) {
  .esg-new .performance-item .icon {
    width: 5.625em;
  }
}
.esg-new .system-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}
.esg-new .system-list-wrap {
  width: 100%;
  margin: 0 auto;
}
.esg-new .system-list__item {
  flex: 1 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}
.esg-new .system-list__item:not(:first-child)::before {
  content: "▶";
  position: absolute;
  left: 0;
  top: 1.875rem;
  transform: translate(-50%, -50%);
  color: #2fa8e2;
}
.esg-new .system-list__item .title-box {
  height: 3.75rem;
  line-height: 1.2;
  color: #fff;
  background-color: #3ec0f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.75rem;
}
.esg-new .system-list__item:nth-child(2) .title-box {
  background-color: #1d89cc;
}
.esg-new .system-list__item:nth-child(3)::before {
  color: #0b6bb6;
}
.esg-new .system-list__item:nth-child(3) .title-box {
  background-color: #005aaa;
}
@media screen and (max-width: 1024px) {
  .esg-new .system-list {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .esg-new .system-list__item {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .esg-new .system-list {
    margin-left: 0;
    margin-right: 0;
  }
  .esg-new .system-list__item {
    padding: 0 0 1.875rem;
    margin-bottom: 1.875rem;
    flex: 1 0 100%;
    max-width: 100%;
  }
  .esg-new .system-list__item:not(:first-child)::before {
    content: "▼";
    position: absolute;
    left: 50%;
    top: -1.875rem;
    transform: translate(-50%, -50%);
  }
}
.esg-new .hr-list {
  text-align: center;
}
.esg-new .hr-list .title-box {
  background: #005baa;
  color: #fff;
  flex: 0 0 12.5rem;
  max-width: 12.5rem;
  height: 8.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.esg-new .hr-list .cont-box {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  width: 1%;
}
@media screen and (max-width: 1024px) {
  .esg-new .hr-list .title-box {
    flex: 0 0 10rem;
    max-width: 10rem;
    height: 7.5rem;
  }
}
@media screen and (max-width: 576px) {
  .esg-new .hr-list .title-box {
    flex: 0 0 7.8125rem;
    max-width: 7.8125rem;
    height: 6.25rem;
  }
}
.esg-new .human-right-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.esg-new .human-right-process .item--1 {
  flex: 1 0 16%;
  max-width: 16%;
}
.esg-new .human-right-process .item--2 {
  flex: 1 0 21%;
  max-width: 21%;
}
.esg-new .human-right-process .item--3 {
  flex: 1 0 46.4285714286%;
  max-width: 46.4285714286%;
}
.esg-new .human-right-process .item--4 {
  flex: 1 0 13.1428571429%;
  max-width: 13.1428571429%;
}
.esg-new .human-right-process .item .cont-box {
  height: calc(100% - 3.125rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.esg-new .human-right-process .item .light-blue {
  background: #d4e4f2;
}
.esg-new .human-right-process .item .inner-row {
  display: flex;
  flex-wrap: wrap;
}
.esg-new .human-right-process .item .inner-row__item {
  flex: 0 0 40%;
  max-width: 40%;
}
.esg-new .human-right-process .item .inner-row__item.st2 {
  flex: 1 1 auto;
  width: 1%;
  max-width: none;
}
.esg-new .human-right-process .item .inner-row__item.arrow {
  position: relative;
}
.esg-new .human-right-process .item .inner-row__item.arrow::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0.625rem;
  top: 50%;
  border-top: 1px solid #005baa;
}
.esg-new .human-right-process .item .inner-row__item.arrow::after {
  content: "▶";
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -1px;
  color: #005baa;
  line-height: 1;
}
@media screen and (max-width: 1200px) {
  .esg-new .human-right-process .item .inner-row__item {
    flex: 0 0 43%;
    max-width: 43%;
  }
}
@media screen and (max-width: 1024px) {
  .esg-new .human-right-process {
    margin-left: -0.375rem;
    margin-right: -0.375rem;
    margin-bottom: -0.75rem;
  }
  .esg-new .human-right-process .item {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    margin-bottom: 0.75rem;
  }
  .esg-new .human-right-process .item--1 {
    flex: 1 0 40%;
    max-width: 40%;
  }
  .esg-new .human-right-process .item--2 {
    flex: 1 0 60%;
    max-width: 60%;
  }
  .esg-new .human-right-process .item--3 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .esg-new .human-right-process .item--4 {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .esg-new .human-right-process {
    margin-bottom: -1.5625rem;
  }
  .esg-new .human-right-process .item {
    margin-bottom: 1.5625rem;
  }
  .esg-new .human-right-process .item--1 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .esg-new .human-right-process .item--2 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .esg-new .human-right-process .item--3 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .esg-new .human-right-process .item--4 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .esg-new .human-right-process .item .inner-row__item {
    flex: 0 0 45%;
    max-width: 45%;
  }
}
.esg-new .safety-list {
  border-top: 2px solid #005baa;
}
.esg-new .safety-list__item {
  display: flex;
  flex-wrap: wrap;
  padding: 1.875rem;
  border-bottom: 1px solid #ddd;
}
.esg-new .safety-list__item .title-box {
  flex: 0 0 30.5970149254%;
  max-width: 30.5970149254%;
  padding-right: 1.875rem;
}
.esg-new .safety-list__item .text-box {
  flex: 1 1 auto;
  width: 1%;
}
.esg-new .safety-list__item .text-box .img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.375rem;
  margin-right: -0.375rem;
  margin-top: 1.25rem;
}
.esg-new .safety-list__item .text-box .img-wrap .img-item {
  flex: 1 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 0.375rem;
}
.esg-new .safety-list__item .text-box .img-wrap .img {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.esg-new .safety-list__item .text-box .img-wrap .img::after {
  content: "";
  display: block;
  padding-bottom: 66.2251655629%;
}
.esg-new .safety-list__item .text-box .img-wrap .img > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
@media screen and (max-width: 1024px) {
  .esg-new .safety-list__item .title-box {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0 0 1.5625rem;
  }
  .esg-new .safety-list__item .text-box {
    flex: 1 0 100%;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .esg-new .safety-list__item {
    padding: 1.375rem 0;
  }
}
@media screen and (max-width: 576px) {
  .esg-new .safety-list__item .title-box {
    padding: 0 0 1.125rem;
  }
  .esg-new .safety-list__item .text-box .img-wrap {
    margin-left: -0.1875rem;
    margin-right: -0.1875rem;
  }
  .esg-new .safety-list__item .text-box .img-wrap .img-item {
    padding: 0 0.1875rem;
  }
}
.esg-new .fair-list {
  border-top: 2px solid #005baa;
}
.esg-new .fair-list__item {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}
.esg-new .fair-list__item .title-box {
  background: #f1f6fa;
  padding: 1.875rem;
  flex: 0 0 16.25rem;
  max-width: 16.25rem;
}
.esg-new .fair-list__item .title-box .icon img {
  width: 3.125rem;
}
.esg-new .fair-list__item .text-box {
  flex: 1 1 auto;
  width: 1%;
  padding: 1.875rem;
}
@media screen and (max-width: 1024px) {
  .esg-new .fair-list__item .title-box {
    padding: 1.25rem;
    flex: 0 0 12.5rem;
    max-width: 12.5rem;
  }
  .esg-new .fair-list__item .text-box {
    padding: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .esg-new .fair-list__item .title-box {
    flex: 0 0 9.375rem;
    max-width: 9.375rem;
  }
}
@media screen and (max-width: 576px) {
  .esg-new .fair-list__item .title-box {
    flex: 1 0 100%;
    max-width: 100%;
    background: #fff;
  }
  .esg-new .fair-list__item .title-box .common-title--h5 {
    font-weight: 500 !important;
  }
  .esg-new .fair-list__item .title-box br {
    display: none;
  }
  .esg-new .fair-list__item .text-box {
    padding-top: 0.625rem;
    flex: 1 0 100%;
    width: 100%;
  }
}
.esg-new .fair-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.esg-new .fair-banner__img.__w1 {
  flex: 1 0 41.4285714286%;
  max-width: 41.4285714286%;
}
.esg-new .fair-banner__img.__w2 {
  flex: 1 0 55.7142857143%;
  max-width: 55.7142857143%;
}
@media screen and (max-width: 375px) {
  .esg-new .fair-banner {
    margin-top: -0.9375rem;
  }
  .esg-new .fair-banner__img {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    margin-top: 0.9375rem;
  }
}
.esg-new .complaint-col {
  width: 12.5rem;
}
@media screen and (max-width: 1024px) {
  .esg-new .complaint-col {
    width: 9.375rem;
  }
}
.esg-new .complaint-process {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
.esg-new .complaint-process .item {
  flex: 1 0 12.034%;
  max-width: 12.034%;
  position: relative;
}
.esg-new .complaint-process .item:not(:last-child)::after {
  content: "";
  font-family: "xeicon" !important;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(240%, -50%);
  margin-top: -1.5rem;
}
/*# sourceMappingURL=esg.css.map */